.basic-container {
    display: flex;
    height: 100vh;
}

.profile-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    color:  rgb(237, 132, 45);
}


.profile-container form {
    background-color: black;
    border-style: solid;
    border-color:rgb(237, 132, 45);
    color:rgb(237, 132, 45);
    font-weight: bold;

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; 
   
    padding: 45px;
    border-radius: 5px;
}

.profile-container  p {
    text-align: center;
}



.profile-container form h2 {
    position: absolute;
    top: 0;
    color: black;
}

.profile-container form span {
    margin-top: 10px;
}


.profile-container input {
    padding: 8px;
    color: rgba(7, 7, 7, 0.857);
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-left: 1%;
}

.profile-container select {
    padding: 8px;
    color: rgba(7, 7, 7, 0.857);
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-left: 1%;
}

.profile-container .small-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px; 
    padding: 10px;
}

.profile-container .single-row{
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px; 
    padding: 10px;
}

.profile-container .single-row select{
    padding: 8px;
    color: rgba(7, 7, 7, 0.857);
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-left: 1%;
}

.profile-container .small-container input {
    width: 50%; 
}

.profile-container .small-container select {
    width: 53%; 
}

.profile-container button{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
   
    
    border: none;
    cursor: pointer;
  
    background-color:rgb(237, 132, 45);
    color: rgb(7, 7, 7);
  
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.profile-container button:hover{
    background-color:  rgb(186, 98, 26);
    color: white;
    border-radius: 0px 0px 3px 3px;
}

select{
    padding: 8px;
    color: rgba(7, 7, 7, 0.857);
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100%;
    margin-left: 1%;
}

