
/* diet.css */
.diet-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(237, 132, 45);
  border-radius: 10px;
}

.answer-container { 
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: rgb(7,7,7);
}

.answer-container li {
  margin-top: 20px;
  gap: 10px;
  list-style-type: none;
}

.answer-container button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
 
  
  border: none;
  cursor: pointer;

  background-color:rgb(237, 132, 45);
  color: rgb(7, 7, 7);

  text-align: center;
  margin-top: 30px;
}

.answer-container button:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .diet-container {
    padding: 10px;
    margin-top: 10px;
  }

  .answer-container {
    padding: 10px;
  }
}

