/* Diet.css */

.diet-app {
  display: flex;
  padding: 20px;
  max-width: 600px;
  margin: 0 40%;
}

.diet-app label, h1{
  color: black;
}

.diet-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(237, 132, 45);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diet-form {
  display: grid;
  gap: 10px;
}

.diet-input {
  padding: 8px;
  background-color: rgb(237, 132, 45);

  color: rgba(7, 7, 7);
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer; 
}

.diet-app select:hover {
  color:whitesmoke;
  background-color: #924a1482;
}

.diet-button {
  ont-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
 
  
  border: none;
  cursor: pointer;

  background-color:rgb(237, 132, 45);
  color: rgb(7, 7, 7);

  text-align: center;
  margin-top: 10px;
  width: 100%;

}

.diet-button:hover {
  color:whitesmoke;
  background-color: #924a1482;
}


