/* Diet.css */

.diet-app {
  min-height: 100vh;
}

.diet-app label, h1{
  color: black;
}

.diet-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diet-form {
  display: grid;
  gap: 10px;
}

.diet-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.diet-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.diet-result-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
}

