.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-container input {
  margin-right: 10px;
}

/* Move the Name input to the right */
label:nth-child(3) {
  margin-left: auto;
}
