.filter-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  background-color: rgb(237, 132, 45);
  color: rgba(7, 7, 7, 0.857);
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 16%;
}

.filter-container select:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.filter-container input:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.filter-select{
  width: 100%;
}
