

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.intro-text {
  background-color: rgb(237, 132, 45);
  margin: 20px;
  padding: 15px;
  color:black;
}



.container img{
  margin-top: 10px;
  max-width: 30vh;
}