.workout-planner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.question-container {
  display: flex;
  width: 70%;
}

.question-box {
  padding: 20px;
  border: 1px solid rgb(237, 152, 52);
  color: rgb(237, 152, 52);
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.question-box button {
  border: none;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-label {

  margin-bottom: 10px;
}

.checkbox-label input {
  display: flex; /* Use flex to align items horizontally */
  align-items: column;
  margin-right: 10px; /* Add margin between checkbox and label */
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.type-box {
  padding: 20px;
  border: 1px solid rgb(237, 152, 52);
  color: rgb(237, 152, 52);
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.type-box button {
  border: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.type-box button {
  color: rgb(7, 7, 7);
  background-color: rgb(237, 152, 52);
}

.type-box button:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.question-box button:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.question-box button {
  color: rgb(7, 7, 7);
  background-color: rgb(237, 152, 52);
}

.submit-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  background-color: black;
  border-style: solid;
  border-color: rgb(237, 132, 45);
  color: rgb(237, 132, 45);
  font-weight: bold;

  text-align: center;
  margin-top: 10px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
