
/* workoutPlanner.css */

.workout-planner-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(237, 132, 45);
  border-radius: 10px;
}

.workout-planner-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(237, 132, 45);
}

.workout-planner-container h2 {
  color: black;
}

.workout-planner-container label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

.workout-planner-container select {
  padding: 8px;
  background-color: rgb(237, 132, 45);
  color: rgba(7, 7, 7);
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer;
}

.workout-planner-container option {
  text-align: center;
}

.workout-planner-container button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(237, 132, 45);
  color: rgb(7, 7, 7);
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.workout-planner-container button:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.workout-planner-container select:hover {
  color: whitesmoke;
  background-color: #924a1482;
}

.workout-planner-container li {
  color: rgb(7, 7, 7);
  list-style-options: none;
  gap: 10px;
}
